
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

}
.logo{
      font-weight: 900;
  font-style: normal;
  font-size: 34px;
  color: #4E47FF;

}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.bg-img {
    background-image: url(hero-bg.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 698px;
    margin-bottom: 134px;
}

.btn-style {  
  list-style: none;
  background-color: #4E47FF;
    text-decoration: none;
    height: 48px;
    width: 132px;
    padding: auto;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.welcome {

  display: flex;
  justify-content: space-between;
  align-items: center;
    height: 151px;
    width: 1140px;
    margin: 0px 150px 158px 150px;
}
.banner-1 {
  text-align: center;
    gap: 37px;
    width: 905px;
    height: 237px;
    margin:0px 267.5px 152px 267.5px;
}
.font-banner-1 {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}
.banner-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 1140px;
    margin: 0px 141px 116px 159px;
}
.banner-2-heading {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
    height: 49px;
    width: 517px;
}
.font-banner-2 {
    font-size: 24px;
    font-weight: normal;
    color: #252432;
    margin-bottom: 23px;
    height: 60px;
    width: 517px;
    opacity: 50%;
}
.first-img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.banner-3 {
    max-width: 1140PX;
    height: 306px;
    margin: 0px 141px 137px 159px;
    background-color: #6a65f626;
    padding: 80px 50px;
    border-radius: 24px;
    gap: 10px;
    text-align: center;
}
.HEADLINE-1 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
}
.banner-3-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 142px 50px 142px;
}
.plus-sign {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
}
.text-align{
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    opacity: 50%;
    margin-top: 0px;
}
.skills {
    max-width: 1140px;
    height: 342px;
    margin: 0px 151px 128px 149px;
    align-items: center;
}
.skill-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
    text-align: center;
}
.skills-container {
    display: flex;
    gap:20px;
        justify-content: center;
}
.skills-box {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    border-radius: 14px;
    width: 366.67px;
    height: 243px;
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.box-img-1 {
  display: flex;
  width: 116px;
  height: 20px;
  gap: 4px;
}
.box-headline {
    font-family: "Ag headline", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
    text-align: left;
}
.body-base {
    font-family: "Ag body", sans-serif;
    font-size: normal;
    font-weight: normal;
    color: black;
    text-align: left;
}
.title-error {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.box-img-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.AAA{
    display: flex;
    flex-direction: column;
}
.reviwer{
    font-family: Ag Body, sans-serif;
    font-size: 16px;
    font-weight: Strong;
    color: rgba(117, 117, 117, 1);
}
.reviwer1{
    font-family: Ag Body Base, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: rgba(179, 179, 179, 1);
    margin-top: 0px;
}
.banner-4 {
    max-width: 1440px;
    height: 696.77px;
    background-color: rgba(255, 255, 255, 1);
    flex-direction: column;
    border: 1px solid #F2EDED;
    gap: 20px;
    margin:128px 175px 101.23px 125px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ready {
    font-size: 50px;
    font-weight: bold;
    color:rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    text-align: center;
}
.template {
    font-family: Ag Body Base, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}
.hexa {
    align-items: center;
    margin: 20px 472.5px;
}
.butt {
    font-family: raleway-normal, sans-serif;
    font-weight: medium;
    height: 48px;
    width: 195px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.IMG-4 {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    align-items: center;
}
.info-cai{
    display: flex;
    gap: Auto;
    margin: 92.23px 150px 14px 150px;
}
.form-text{
    font-size: 97px;
    font-weight:bold;
    color: #000000;
    margin-right: 115px;
}
.ft{
   font-size: 18px;
   font-weight: Medium;
   color: #000000;
}
form-container{
    display: block;
}
.zz{
    margin-top: 71px;
    margin-bottom: 19px;
}
.boxe{
    width: 497px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 19px;
    border: 1px #131212;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Boxer{
   width: 497px;
   height: 135px;
   background-color: #F2EDED;
   border: 1px solid #F2EDED;
   border-radius: 10px;
   margin-bottom: 19px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
